:root {
  --red: #fe451e;
  --pink: #f6b19e;
  --yellow: #fcef23;
  --lightblue: #22dadd;
  --blue: #000ba1;
  --beige: #f7f8d9;
  --white: #fff;
  --black: #000;
}

body {
  background: var(--white);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 50px;
}

header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("../images/Everyone-in-this-Room-will-Someday-be-Dead-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  margin-bottom: 40px;
  text-align: center;
}

header h1 {
  color: var(--white);
  font-size: 80px;
  font-weight: 700;
  margin: 0 auto;
  max-width: 1400px;
}

header h2 {
  color: var(--white);
  font-size: 64px;
  font-weight: 400;
  margin: 0 auto;
}

header h3 {
  color: var(--white);
  font-size: 36px;
  font-weight: 400;
  margin: 0 auto;
}

header a {
  background-color: var(--pink);
  border-radius: 50px;
  color: var(--black);
  display: inline-block;
  font-size: 24px;
  margin-top: 32px;
  padding: 16px 38px;
  text-decoration: none;
}

header a:hover {
  background-color: var(--red);
  color: var(--white);
  transition: all 0.25s ease-in-out;
}

.intro img {
  border-radius: 4px;
  width: 100%;
}

.intro h3 {
  color: var(--black);
  font-size: 28px;
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 20px;
}

.intro h2 {
  color: var(--red);
  font-size: 36px;
  font-weight: 600;
  margin: 0 auto;
  margin-bottom: 30px;
}

.intro span {
  font-weight: 700;
}

.grid.grid-2-columns {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 50px;
  max-width: 1400px;
}

.grid.grid-3-uneven-columns {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 75px;
  max-width: 1400px;
}

footer {
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/library.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2.5;
  padding: 50px;
}

footer a {
  color: var(--white);
  text-decoration: none;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}

/* Tablets */
@media (max-width: 900px) {
  header {
    padding: 40px;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 36px;
  }

  header h3 {
    font-size: 24px;
  }

  header a {
    font-size: 18px;
    padding: 12px 24px;
  }

  .grid.grid-2-columns {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    max-width: 1400px;
  }

  .intro img {
    order: 2;
  }

  .grid.grid-3-uneven-columns {
    grid-template-columns: 2fr 2fr;
  }

  .item-2 {
    display: none;
  }
}

/* Mobile phones */
@media (max-width: 600px) {
  header {
    padding: 25px;
  }

  header h1 {
    font-size: 36px;
  }

  header h2 {
    font-size: 28px;
  }

  header h3 {
    font-size: 18px;
  }

  header a {
    font-size: 16px;
    padding: 10px 20px;
  }

  .intro img {
    order: 2;
  }

  .grid.grid-3-uneven-columns {
    grid-template-columns: 2fr 2fr;
  }

  .item-2 {
    display: none;
  }
}
