/* Color Variables */
:root {
  --red: #fe451e;
  --pink: #f6b19e;
  --yellow: #fcef23;
  --lightblue: #22dadd;
  --blue: #000ba1;
  --beige: #f6f7e2;
  --white: #fff;
  --gray: #797979;
  --black: #000;
}

/* General Styles */
body {
  background: var(--white);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 1.5;
}

/* Header Styles */
header {
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("../images/Everyone-in-this-Room-will-Someday-be-Dead-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin-bottom: 40px;
  text-align: center;
}

header h1 {
  color: var(--white);
  font-size: 80px;
  font-weight: 700;
  margin: 0 auto;
  max-width: 1400px;
}

header h2 {
  color: var(--white);
  font-size: 36px;
  font-weight: 700;
  margin: 25px 0 10px 0;
}

header h3 {
  color: var(--white);
  font-size: 36px;
  font-weight: 400;
  margin: 0 0 10px 0;
}

header a {
  background-color: var(--red);
  border-radius: 50px;
  color: var(--white);
  display: inline-block;
  font-size: 22px;
  margin-top: 30px;
  padding: 16px 32px;
  text-decoration: none;
}

header a:hover {
  background-color: var(--pink);
  color: var(--black);
  transition: all 0.25s ease-in-out;
}

/* Intro Section Styles */
section.intro {
  margin: 0 auto;
  max-width: 1400px;
  padding: 75px 75px 100px 75px;
}

.intro h2 {
  color: var(--red);
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}

.intro h3 {
  color: var(--black);
  font-size: 36px;
  font-weight: 600;
  margin: 20px 0 30px 0;
}

.intro img {
  border-radius: 10px;
  width: 100%;
}

.intro-synopsis {
  padding-bottom: 40px;
  color: var(--black);
}

.intro span {
  font-weight: 700;
}

/* Book Details Section Styles */
.book-details {
  background-color: var(--beige);
  padding: 75px 75px 85px 75px;
}

.book-details h2 {
  color: var(--red);
  font-size: 22px;
  font-weight: 400;
  margin: 0 0 20px;
  text-align: center;
}

.table-container {
  max-width: 1400px;
  margin: 0 auto;
  overflow-x: auto;
}

table {
  border: none;
  border-collapse: separate;
  border-radius: 10px;
  border-spacing: 10px 10px;
  width: 100%;
}

table i {
  color: var(--black);
}

th,
td {
  background-color: var(--white);
  border-radius: 10px;
  padding: 15px;
  text-align: left;
}

th {
  background-color: var(--white);
  color: var(--black);
}

/* Reviews Section Styles */
.reviews {
  background-color: var(--white);
}

.reviews-container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 75px 75px 100px 75px;
}

.reviews h2 {
  color: var(--red);
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.reviews h3 {
  color: var(--black);
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 30px 0;
  text-align: center;
}

.reviews .card {
  background: var(--beige);
  border-radius: 10px;
  padding: 30px 30px 20px;
}

.reviews a,
.video .card {
  color: var(--black);
  text-decoration: none;
}

.reviews .card a strong {
  font-style: italic;
  font-weight: 400;
}

.reviewer-name,
.source {
  margin: 0;
}

i {
  color: var(--gray);
  font-weight: 400;
}

/* Video Section Styles */
.video {
  background-color: var(--beige);
}

.video-container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 75px 75px 100px 75px;
}

.video h2 {
  color: var(--red);
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.video h3 {
  color: var(--black);
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 30px 0;
  text-align: center;
}

.video .card {
  background: var(--white);
  border-radius: 10px;
}

.video iframe {
  align-items: center;
  border-radius: 10px 10px 0 0;
  justify-content: center;
  min-height: 250px;
  width: 100%;
}

.video .card-body {
  padding: 20px 30px;
}

.video .card a {
  color: var(--black);
  text-decoration: none;
}

.video h4 {
  margin: 0 auto;
}

.video .reviewer-name {
  margin-top: 15px;
  margin-bottom: 10px;
}

/* Recommendations */
.recommendations {
  margin: 0 auto;
  max-width: 1400px;
  padding: 75px 75px 100px 75px;
}

.recommendations h2 {
  color: var(--red);
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.recommendations h3 {
  color: var(--black);
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 30px 0;
  text-align: center;
}

.recommendations .recommendation-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
}

.recommendations .recommendation-card img {
  border-radius: 10px;
  width: 100%;
}

.recommendations .card-body {
  border-radius: 10px;
  background-color: var(--beige);
  margin-top: 25px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.recommendations .title {
  margin-bottom: 0;
}

.recommendations .author {
  margin: 0;
}

.recommendations a {
  align-items: center;
  background-color: var(--red);
  border-radius: 50px;
  color: var(--white);
  display: inline-block;
  margin-top: auto;
  padding: 16px 32px;
  text-decoration: none;
  text-align: center;
}

.recommendations a:hover {
  background-color: var(--pink);
  color: var(--black);
  transition: all 0.25s ease-in-out;
}

/* Grid Styles */
.grid.grid-2-columns {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 50px;
  max-width: 1400px;
}

.grid.grid-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  max-width: 1400px;
}

.grid.grid-3-uneven-columns {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 50px;
  max-width: 1400px;
}

.grid.grid-4-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  max-width: 1400px;
}

/* Footer Styles */
footer {
  align-items: center;
  background-color: var(--pink);
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("../images/library.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
  display: flex;
  filter: saturate(1.5);
  flex-direction: column;
  justify-content: center;
  line-height: 2.5;
  padding: 50px;
}

footer a {
  color: var(--white);
  text-decoration: none;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}

/* Responsive Styles */

/* Tablets */
@media (max-width: 1200px) {
  header {
    padding: 40px;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 36px;
  }

  header h3 {
    font-size: 24px;
  }

  header a {
    font-size: 18px;
    padding: 12px 24px;
  }

  .grid.grid-2-columns {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .intro img {
    order: 2;
    width: 100%;
  }

  .grid.grid-3-columns {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .grid.grid-3-uneven-columns {
    grid-template-columns: 1fr 1fr;
  }

  .grid.grid-4-columns {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  footer .item-2 {
    display: none;
  }
}

/* Mobile Phones */
@media (max-width: 600px) {
  header {
    padding: 25px;
  }

  header h1 {
    font-size: 36px;
  }

  header h2 {
    font-size: 28px;
  }

  header h3 {
    font-size: 18px;
  }

  header a {
    font-size: 16px;
    padding: 10px 20px;
  }

  .intro img {
    width: 100%;
  }

  .grid.grid-2-columns {
    gap: 20px;
  }

  .grid.grid-3-columns {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .grid.grid-3-uneven-columns {
    grid-template-columns: 1fr 1fr;
  }

  .grid.grid-4-columns {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  footer .item-2 {
    display: none;
  }

  .book-details table {
    font-size: 14px;
  }

  .reviews .card,
  .video .card {
    padding: 20px;
  }
}
